<div id="<%= dom_id memory %>">
  <p>
    <strong>Title:</strong>
    <%= memory.title %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= link_to memory.video.filename, memory.video if memory.video.attached? %>
  </p>

</div>
